{% extends "base.html" %}
{% from "macros.html" import crumbs %}
{% block title %}Admin{% endblock %}
{% block head_meta %}
<meta name="robots" content="noindex">
{% endblock %}
{% block breadcrumbs %}
{{ crumbs([(home_label, "/"), ("Admin", None)]) }}
{% endblock %}
{% block content %}
<h1>Admin</h1>
<ul class="admin-nav">
  <li><a href="/admin/site">Site settings</a></li>
  <li><a href="/admin/security">Security</a></li>
  <li><a href="/admin/publish">Publish works</a></li>
  <li><a href="/admin/flags">Work flags</a></li>
  <li><a href="/admin/metadata">Work metadata</a></li>
  <li><a href="/admin/history">Suppress revisions</a></li>
  <li><a href="/admin/merge">Merge histories</a></li>
  <li><a href="/admin/continuity">Continuity</a></li>
  <li><a href="/admin/authorship">Authorship</a></li>
</ul>
{% endblock %}
