# Change the directory paths in this file to /opt/libmyown/data and /opt/libmyown/pdf-scripts
# if you want to self-contain everything in /opt/libmyown

DATA_DIR=data

# Listen address and port
HOST=127.0.0.1
PORT=8000

# optional: change PDF builder modules directory
# PDF_SCRIPTS=pdf-scripts

# optional: force Secure session cookies when not inferring TLS from the proxy
# HTTPS_ENABLED=true

# optional: first run values for site config
# to edit these valuesa after first-run, use the Admin panel or edit site.json
# supplying ADMIN_PASSWORD will skip the /setup step

# STORIES_BRANCH=main
# PUBLIC_URL=https://your.domain
# ADMIN_PASSWORD=
# GIT_PASSWORD=
# GIT_USERNAME=git
